# 虚拟环境
.venv/

# 输出
output/

# 输入字体（字体资源文件请自行添加）
source/*
!source/.gitkeep
!source/victor20.fnt
!source/victor20_0.png
!source/victor20_0.xcf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# 编辑器
.vscode/
.idea/
*.swp
